@import "../../assets/styles/colors";

.odontologia {
  position: relative;
  padding: 10rem 0;

  @media (max-width: 768px) {
    padding: 8rem 0;
  }

  .odontologia-overlay {
    z-index: -1;
    background-image: url("../../assets/img/happy-woman-with-great-smile-clinic.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: opacity(0.5);
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    @media (max-width: 768px) {
      filter: opacity(0.6);
      background-image: url("../../assets/img/happy-woman-with-great-smile-clinicmobile.jpg");
    }
  }

  .title {
    color: $textColorGray;

    span {
      color: $green;
    }
  }
}
