@import "../../assets/styles/colors";

.cruzeiro-do-sul {
  position: relative;
  padding: 6rem 0;

  .cruzeiro-do-sul-overlay {
    z-index: -1;
    background-image: url("../../assets/img/ead_desk.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: opacity(0.5);
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    @media (max-width: 768px) {
      filter: opacity(0.3);
      // background-image: url("../../assets/img/seguro_mobile.jpg");
    }
  }

  .title {
    color: $textColorGray;

    span {
      color: $green;
    }
  }
}
